language: java
jdk: openjdk8
before_install:
  - echo $JAVA_HOME
  - wget https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08/OpenJDK8U-jdk_x64_linux_hotspot_8u202b08.tar.gz
  - tar -xzf OpenJDK8U-jdk_x64_linux_hotspot_8u202b08.tar.gz
  - export JAVA_HOME=$PWD/jdk8u202-b08
  - echo $JAVA_HOME
  - sudo sh -c 'echo "deb https://packages.atlassian.com/debian/atlassian-sdk-deb/ stable
    contrib" >>/etc/apt/sources.list'
  - wget https://packages.atlassian.com/api/gpg/key/public
  - sudo apt-key add public
  - sudo apt-get update
  - sudo apt-get install atlassian-plugin-sdk
  - atlas-version
install: skip
stages:
  - test
  - name: release
    if: branch =~ ^release-
jobs:
  include:
  - stage: test
    script:
      - atlas-unit-test
  - stage: release
    script:
      - atlas-package
      - ls -l ./target
    deploy:
      provider: releases
      api_key:
        secure: hx7+CnHoM27xHI4Wy1Kqv/F5F10KIhgA7WaeyXB20f4Jc5IaCbs7j6wiRoE09mZQpjoHTjiLDtLo4NofRuOw3vdt7KuRGE1ul1EyyxUhJ9NL9GlxBQzdbX4ShdhuCJ6v5S8b2PovfU2xvKUqV2snag4RLLZZh2uH4cOqse5PH3qIwkfWWH7ah2mYMhmB82TgIU8PZa53r9Dz9fagkHTSdcPS02qQ15R0EZBZj2MPuHpuOeFnWsP6h8RRsB6r3peNiwUFxyQHr786njy/CTyHGLWToNoyGpFXQJq77NIYoJg0x4esuqEfe2kJMZyCln/4FaGpsI5HzaySF7VxQSFwbupBzus13lTGvunzAEcHDosRDBzXfBbbUV8oPLDidUEW2fK2sGerC7FzL4yzHOkrbnlg/Zac3fyNGMN+P050MoniPxPT3l45oyWm2xDE42YuESfP6s5q7X5JsLrArFVW2/ynC+N/FvhLVy0FRRoHLRPgB7mLZNFjnEbaH9rf7ubh50dZdWPxJFBk+hz4wnzBV50D88YnGLhJ/H6PDuQhE+zy1rg5YQxg6UzNJccLSbQRPC4cn0aBUbnzZvMNfG+VEW8+ppPD9/YWELql04l+niMvxoSQBDwBqJZjJUIPoO/bk2i0/ZTGolvVA5T9eontoDVmgFShVcbPmA9zsd4fUYk=
      file_glob: true
      file:
      - "./target/*.obr"
      - "./target/*.jar"
      skip_cleanup: true
      on:
        tags: true
        condition: "$TRAVIS_TAG =~ ^release-"
cache:
  directories:
  - "$HOME/.m2"
