<section id="zenuml-editor-dialog" class="aui-dialog2 aui-dialog2-big aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Edit your diagram</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <div id="app"></div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="zenuml-editor-dialog-submit-button" class="aui-button aui-button-primary">Submit</button>
        </div>
    </footer>
</section>